h1{
  color: white;
  text-decoration-line: overline underline;
  text-shadow: 2px 2px black;
}
h3{
  color: black;
}
body{
  background-color:tan;
}
img{
  width:300px
}
img:hover{
   width:500px;
   filter:invert(90%);
  }
